body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
}

h1.title {
    font-size: 520%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    font-family: 'Stalemate', cursive;
}

p.title-sub {
    margin-top: 0;
    margin-bottom: 100px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

div.top-container {
   background-color: #b7fbff; 
   position: relative;
}

div.middle-container {
}

div.bottom-container {
}

.developer {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 2%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 65%;
}

div img.skill-icon {
    width: 50%;
}

div.profile img {
    width: 30%;
}
