body {
    margin: 0;
    text-align: center;
}

h1.title {
    margin-top: 0;
    padding-top: 100px;
}

p.title-sub {
    margin-top: 0;
    margin-bottom: 100px;
}

div.top-container {
   background-color: #b7fbff; 
   position: relative;
}

div.middle-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}
div.bottom-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.developer {
    text-decoration: underline;
}


.top-cloud {
    position: absolute;
    right: 30%;
    top: 2%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 70%;
}

